# macOS resource forks
._*
**._*
.DS_Store
**/.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/app/google-services.json
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Firebase secrets
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml

# Misc
pubspec.lock
